

html, body{
    overflow-x: hidden;
}


/* nav ber */
.navber{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 0px 120px;
     

}
.ber ul{
    display: flex;
    list-style: none;
    gap:34px;
      
  
}

.ber ul a{
    text-decoration: none;
    color: black;

}

.nav-title{
font-size:1.25rem;
}

/* responsive navber */
@media screen and (max-width:576px) {
    
    .nav-title{
        font-size: 1.25rem;
    }
    
    .navber{
        
        flex-direction: column;
        margin: 0px auto;
     
    }

    .ber ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
  .ber{
margin-right: 50px;
  }


}

/* Influencer */
.Influencer{
    display: flex;
    justify-content: space-between;
   
    margin: 50px 125px;
    align-items: center;
    gap: 133px;
}
.Influencer-title{
    font-size: 3.25rem;
}
.Influencer-pra{
    font-size: 1rem;
    width: 505px;
}
.primary-btn{
    font-size: 1rem;
    font-weight: bold;
   padding: 10px;
   border: none;
    border-radius: 41px;
    max-width: 196px;
    background-color: #E02C6D;
    color: white;
   
}
.cmera img{
    width: 440px;
    height: 414px;
}
/* responsiv .Influencer */
@media screen and (max-width:576px) {
    .Influencer{
        flex-direction: column-reverse;
        gap: 0px;
    }

    .cmera img{
        width: 255px;
        height: 255px;
    }
    .Influencer-title{
        width: 404px;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }
    .Influencer-pra{
        font-size: 1rem;
        width: 321px;
        height: 65px;
        text-align: center;
        margin-left: 33px;
    }
    .Influencer-contain{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}



/* shop-icon */

.shop-icon{
    display: flex;
    justify-content: space-around;
    margin: 70px 165px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.1);

}

.star ul{
    display: flex;
    list-style: none;
}

/* responsive shop icon */
@media screen and (max-width:576px) {
    .shop-icon{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        box-shadow: none;
        
       
    
    }
    .shop-icon img{
        width: 70px;
       

    }
   
   
}

/* card */

.card-container{
 display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
   
      
      
}
.card{
    
    width: 330px;
    height: 475px;
    /* border: 2px solid tomato; */
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
 padding: 16px 0px;
margin-left: 50px;

}

.crd-title{
    text-align: center;
    font-size: 1.75rem;
    color: rgba(58, 58, 58, 1);
 padding-top: 100px;
}



.photo{
    align-items: center;
 text-align: center;
}
.card-title{
    font-size: 1.75rem;
    margin-left: 20px;
    
}
.mrp{
    font-size: 1.25rem;
    margin-left: 20px;
}
.crd-par{
    font-size: 1rem;
    color: rgba(120, 120, 133, 1);
    width: 195px;
    margin-left: 20px;
    
    line-height: 143%;
    letter-spacing: 1.8%;
}
.star ul{
  margin-left: -20px;
  
}

.see-more{
    font-size: 1rem;
font-weight: bold;
color: #E02C6D;
text-align: center;
margin-left: 70em;
margin-top: 30px;

}

/* responsive card */
@media screen and (max-width:576px) {
    .crd-title{
   margin-top: 50px;
   padding-top: 0px;
}
.card-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-right: 50px;
}
}

@media screen and (max-width: 576px) {
     .see-more{
   display: inline;
 margin-left: 70%;

 }
}
/* product-place */

.product-place{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 200px 165px;
    gap: 95px;
       
}


.desk{
    width: 610px;
    height: 225px;
    
}

.desk h2{
    font-size: 2.37rem;
    font-weight: bold;
}

.desk p{
    font-size: 1rem;
    
    color: #6C6C6C;
}

.desk button{
    font-weight: bold;
    color: white;
    background-color: #E02C6D;
    border: none;
    border-radius: 5px;

    width: 155px;
    height: 44px;

} 

/* product responsive */
@media screen and (max-width:576px) {
    .product-place{
      
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 0px;
        margin-top: 0px;
    }

    .desk h2{
        font-size: 24px;
      
    }
    .desk p{
        font-size: 16px;
        height: 90px;
    }
    .desk button{
        align-items: center;
    }
    .place-photo{
        border: none;
        border-radius: 20px;
        width: 300px;
        height: 188px;
        padding: 30px;
       
    }
}


/* footer */
footer{
background-color:#0A0826;

}
.footer-item{

  height: 240px;
    color: white;
    text-align: center;
    align-items: center;
   padding-top: 50px;
}

.footer-item h3{
    font-size: 1.50rem;
    font-weight: bold;
}
.copy{
    font-size: 1rem;
    color: rgba(217, 219, 225, 1);
}
.reserved{
    font-size: 1rem;
    color: rgba(217, 219, 225, 1);
}

.footer-icon{
    padding-top: 17px;
  
}

.footer-icon i{
    padding-right: 16px;
}

/* foooter responsive */

@media screen and (max-width: 576px) {
    footer{
        width: 100%;
        height: 50%;
        margin-top: -200px;
       
    }
}


